html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.restaurant-container, .countries-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}

.restaurant-card, countries-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    width: 250px;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
}

.restaurant-card img {
    width: 100%;
    height: 200px;
}

.countries-card img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.restaurant-card h3, countries-card h3{
    margin: 15px 0 5px 0;
    font-size: 1.2rem;
    color: #222;
}

.restaurant-card p {
    margin: 5px 0;
    color: #555;
}

.restaurant-card .price {
    font-weight: bold;
    color: #000;
}

.btn {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #258cfb;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
