@page
@model Logic_Restaurant_Razor_App.Pages.Pages.LogicModel
@{
	ViewData["Title"] = "Logic Page";
}

<h2>Current day of the year: @Model.dateTime</h2>
<h2>Random letter from the alphabet: @Model.letter</h2>
